@font-face {
  font-family: "Teko";
  src: url("/public/fonts/Teko-Regular.ttf");
}
:root {
  font-size: 62.5%;
  --primary: #121215;
  --primaryBG: #141417;
  --Secondary: #ededed;
  --smallSpacer: 0.5rem;
  --mediumSpacer: 1rem;
  --largeSpacer: 2rem;
  border: solid green;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary);
  color: var(--Secondary);
  font-family: "Teko", sans-serif;
  font-size: 1.8rem;
  src: url("/public/fonts/Teko-Regular.ttf");
  border: solid red;
}
body #home {
  min-height: 20svh;
}
body main {
  display: grid;
  grid-template-columns: 10rem 1fr;
  row-gap: 1rem;
  padding: 0 1rem 0 0;
  border: solid yellow;
}
body #about,
body #skills,
body #projects {
  padding-top: 3rem;
  min-height: 100svh;
  grid-column: 2/3;
}
body section,
body footer {
  background-color: var(--primaryBG);
  margin: var(--largeSpacer) auto;
  padding: var(--largeSpacer) 1rem;
}
body section article,
body footer article {
  display: flex;
  flex-wrap: wrap;
  padding: var(--smallSpacer);
}

.naviContainer {
  background-color: transparent;
  width: 7rem;
  height: 48rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 25%;
  left: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.naviContainer .topic {
  color: var(--Secondary);
  text-decoration: none;
  width: 6.3rem;
  height: 6.3rem;
  padding: 2rem 0;
  text-align: center;
  border: solid 1px var(--Secondary);
  border-radius: 100%;
}
.naviContainer .settings {
  width: 6.3rem;
  height: 6.3rem;
  padding: 0.55rem 0;
  text-align: center;
  border: solid 1px var(--Secondary);
  border-radius: 100%;
}
.naviContainer .settings i {
  font-size: 5rem;
}
.naviContainer .topic:hover,
.naviContainer .settings:hover {
  background-color: var(--Secondary);
  color: var(--primary);
  cursor: pointer;
}
.naviContainer .active {
  color: #ff0000;
  border: double #d91a1a;
}
.naviContainer .connection {
  width: 2px;
  height: 2.5rem;
  border: solid 1px;
}
.naviContainer .settingModal {
  /* Rounded sliders */
}
.naviContainer .settingModal .settingsHori {
  width: 6.3rem;
  height: 6.3rem;
  padding: 0.6rem 0;
  font-size: 1rem;
  text-align: center;
  border: solid 1px var(--Secondary);
  border-radius: 100%;
}
.naviContainer .settingModal .settingsHori i {
  font-size: 5rem;
}
.naviContainer .settingModal .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  border: 1px;
}
.naviContainer .settingModal .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.naviContainer .settingModal .slider {
  color: red;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.naviContainer .settingModal .slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 6px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.naviContainer .settingModal input:checked + .slider {
  background-color: #2196f3;
}
.naviContainer .settingModal input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
.naviContainer .settingModal input:checked + .slider:before {
  transform: translateX(16px);
}
.naviContainer .settingModal .slider.round {
  border-radius: 34px;
}
.naviContainer .settingModal .slider.round:before {
  border-radius: 50%;
}

.headerContainer {
  -webkit-text-stroke: 2px #660000;
}

.header {
  background-image: url(https://media.giphy.com/media/5k00E7cigvvqnBYDdP/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 10rem;
  text-align: center;
  margin: 1rem 0;
}

.co {
  font-size: 6rem;
}

#about {
  display: grid;
  grid-template-columns: 35rem 1fr;
  gap: 1.5rem;
}
#about .imgContainer {
  height: 31rem;
  width: 31rem;
  max-height: 50rem;
  overflow: hidden;
  border: groove 0.4em rgb(182, 179, 168);
}
#about .imgContainer img {
  width: 95%;
  filter: grayscale(75%);
  padding-left: 5%;
  transform: translateY(-8.5rem);
}
#about ul {
  margin-left: var(--mediumSpacer);
}
#about ul li {
  line-height: 3.5rem;
  list-style: none;
}
#about ul li a {
  color: rgba(255, 0, 0, 0.6);
  text-decoration: none;
}
#about .contextRightText {
  grid-column: 1/3;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 2rem;
  padding: 2rem;
}
.cardContainer .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--largeSpacer);
  border: solid 1px #e33838;
  box-shadow: 1px 1px 1px 3px rgba(216, 34, 34, 0.2), -1px -1px 1px 3px rgba(216, 34, 34, 0.2), -1px 1px 1px 3px rgba(216, 34, 34, 0.2), 1px -1px 1px 3px rgba(216, 34, 34, 0.2);
  gap: 2rem;
}
.cardContainer .card h3 {
  width: 100%;
  font-size: 1.4rem;
  text-align: center;
}
.cardContainer .card img {
  width: 50%;
}

.tecStack {
  background-color: transparent;
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin: 5rem auto;
  border-top: 9px solid red;
  border-right: 6px solid red;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-radius: 100%;
}

@keyframes glow-in {
  from {
    opacity: 0;
  }
  65% {
    opacity: 1;
    text-shadow: 0 0 2.5rem var(--Secondary);
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}
#projects {
  text-align: center;
}
#projects .projectContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
#projects h3 {
  font-size: 4rem;
  margin: 2.5rem;
}
#projects a {
  color: var(--Secondary);
  padding: 0;
  text-decoration: none;
}
#projects a .projectCard {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--mediumSpacer);
  border: solid red 0.2rem;
  gap: 1rem;
}
#projects a .projectCard .projectHeader {
  font-size: 2.4rem;
}
#projects a .projectCard .preview img {
  width: 100%;
}

.contact {
  max-height: 8rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
.contact .textLink {
  width: auto;
}
.contact i,
.contact a {
  color: var(--Secondary);
  width: 5rem;
  font-size: 3.3rem;
}

@media only screen and (max-width: 1444px) {
  body {
    font-size: 1.5rem;
  }
  body .header {
    font-size: 5rem;
  }
  body .co {
    font-size: 3rem;
  }
  body .cardContainer {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media only screen and (max-width: 1024px) {
  body {
    font-size: 1.4rem;
  }
  body #about {
    grid-template-columns: 20rem 1fr;
  }
  body #about .imgContainer {
    width: 20rem;
    height: 20rem;
  }
  body #about .imgContainer img {
    transform: translateY(-6rem);
  }
}
@media only screen and (max-width: 992px) {
  body section,
  body footer {
    margin: 0 0;
    margin-right: 0;
  }
  body #about {
    grid-template-columns: 1fr;
  }
  body #about .contextRightText {
    grid-column: 1/2;
  }
  body .cardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 1.2rem;
  }
  body #home {
    min-height: 15svh;
  }
  body .header {
    font-size: 3rem;
  }
  body .co {
    font-size: 1.8rem;
  }
  body .naviContainer {
    background-color: transparent;
    width: 7rem;
    height: 50rem;
    font-size: 1.2rem;
  }
  body .naviContainer .topic {
    width: 5.5rem;
    height: 5.5rem;
    padding: 1.6rem 0;
  }
  body .naviContainer .settings {
    width: 5.5rem;
    height: 5.7rem;
    padding: 0.75rem 0;
  }
  body .naviContainer .settings i {
    font-size: 4rem;
  }
  body .naviContainer .settingModal .settingsHori {
    width: 5.5rem;
    height: 5.7rem;
    padding: 0.4rem 0;
    font-size: 1.2rem;
  }
  body .naviContainer .settingModal .switch {
    width: 40px;
    height: 24px;
    border: 1px;
  }
  body .naviContainer .settingModal .slider:before {
    position: absolute;
    content: "";
    height: 1.2rem;
    width: 1.2rem;
    left: 0.5rem;
    bottom: 0.6rem;
  }
  body .tecStack {
    width: 15rem;
    height: 15rem;
    font-size: 1.8rem;
    margin: auto;
  }
  body #about .imgContainer {
    margin: auto;
  }
  body .cardContainer {
    grid-template-columns: 1fr 1fr;
  }
  body #projects .projectContainer {
    grid-template-columns: 1fr;
  }
  body #projects a .projectCard {
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=App.css.map */